.skills {
    padding-top: 4rem;
    height: fit-content;
}

.skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.skills__card {
    background-color: var(--background-color-secondary);
    border-radius: 2.5rem;
    padding: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
}

.skills__card:hover {
    background-color: var(--background-color-primary);
    border-color: var(--background-color-secondary);
    transform: scale(1.1, 1.1);
    color: var(--background-color-secondary);
    font-weight: bold;
}

.skills__card > h2 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.skills__all {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 1rem;
    gap: 2rem;
    row-gap: 0;
}

.skills__box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__card {
        width: 75%;
        margin: 1rem auto 0 auto;
    }

    .skills__frontend1 {
        margin-top: 3rem;
    }
}
